# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

**/plan*

*.DS_Store*

### Golang
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
cloud-manager/bin/

# Test binary, built with `go test -c`
*.test

# Dependency directories
cloud-manager/vendor/

# IDEs
**/.idea
