name: CI
on:
  push:
    branches:
      - main
  pull_request:

jobs:
  lint:
    name: Lint
    #    runs-on: ubuntu-latest Temporary comment out due to an issue with the latest version
    # https://github.com/actions/runner-images/issues/10796
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Setup
        run: make setup

      - name: install-plugin
        run: make plugin

      - name: Lint
        run: make lint
